
TCC_WEB_SCRAPING/.vs/TCC_WEB_SCRAPING/config/applicationhost.config
TCC_WEB_SCRAPING/.vs/TCC_WEB_SCRAPING/FileContentIndex/3005ae9c-0bfc-422e-9e81-ac530224ed22.vsidx
TCC_WEB_SCRAPING/obj/Debug/TCC_WEB_SCRAPING.pdb
TCC_WEB_SCRAPING/obj/Debug/TCC_WEB_SCRAPING.dll
TCC_WEB_SCRAPING/obj/Debug/TCC_WEB_SCRAPING.csproj.FileListAbsolute.txt
TCC_WEB_SCRAPING/obj/Debug/TCC_WEB_SCRAPING.csproj.CoreCompileInputs.cache
TCC_WEB_SCRAPING/obj/Debug/TCC_WEB_SCRAPING.csproj.AssemblyReference.cache
TCC_WEB_SCRAPING/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
TCC_WEB_SCRAPING/bin/TCC_WEB_SCRAPING.pdb
TCC_WEB_SCRAPING/bin/TCC_WEB_SCRAPING.dll
TCC_WEB_SCRAPING/.vs/TCC_WEB_SCRAPING/v17/.suo
TCC_WEB_SCRAPING/bin/TCC_WEB_SCRAPING.pdb
TCC_WEB_SCRAPING/bin/TCC_WEB_SCRAPING.dll
TCC_WEB_SCRAPING/.vs/TCC_WEB_SCRAPING/FileContentIndex/read.lock
TCC_WEB_SCRAPING/.vs/TCC_WEB_SCRAPING/config/applicationhost.config
*.config
TCC_WEB_SCRAPING/.vs/TCC_WEB_SCRAPING/v16/.suo
TCC_WEB_SCRAPING/bin/TCC_WEB_SCRAPING.dll
TCC_WEB_SCRAPING/bin/TCC_WEB_SCRAPING.pdb
TCC_WEB_SCRAPING/obj/Debug/DesignTimeResolveAssemblyReferences.cache
TCC_WEB_SCRAPING/obj/Debug/TCC_WEB_SCRAPING.csproj.AssemblyReference.cache
TCC_WEB_SCRAPING/obj/Debug/TCC_WEB_SCRAPING.csproj.CoreCompileInputs.cache
TCC_WEB_SCRAPING/obj/Debug/TCC_WEB_SCRAPING.csproj.AssemblyReference.cache
TCC_WEB_SCRAPING/obj/Debug/TCC_WEB_SCRAPING.csproj.FileListAbsolute.txt
TCC_WEB_SCRAPING/obj/Debug/TCC_WEB_SCRAPING.dll
TCC_WEB_SCRAPING/obj/Debug/TCC_WEB_SCRAPING.pdb
